<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615820683255-il7rurif2v1b1orccsgjcqojujs7tvv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615820683255-il7rurif2v1b1orccsgjcqojujs7tvv6</string>
	<key>API_KEY</key>
	<string>AIzaSyC_AeUqrGrdzqFD70D6M1_2_Y8ZkgGb6N0</string>
	<key>GCM_SENDER_ID</key>
	<string>615820683255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatify</string>
	<key>PROJECT_ID</key>
	<string>chatify-771b4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-771b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615820683255:ios:85dd97290551894a18f0f2</string>
</dict>
</plist>